* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: #4b6b52;
}

.card {
    display: flex;
    width: 400px;
    height: 250px;
    align-items: center;
}

.card__image {
    margin-right: 15px;
}

.card__image-content {
    width: 100%;
    max-width: 200px;
    border-radius: 12px 0 0 12px;

}

.card__content {
    width: 100%;
    max-width: 200px;
}

.card_title {
    font-size: 24px;
}

.card__features {
    display: flex;
    font-size: 14px;
    margin-bottom: 15px;
}

.card_location {
    margin-bottom: 15px;
}

.card_status_seperate {
    margin: 0 5px;
}

#icon {
    width: 50px;
    margin: 15px 15px ;
    display: block;
    align-items: left;
}

h1 {
    color: #0f3013;
    text-align: center;
    font-size: 50px;
}

#search {
    width: 550px;
    height: 25px;
    margin: 15px auto;
    display:block;
    padding-left: 15px;
    color:  black;
    border: 2px solid rgb(204,204,204);
    border-radius: 5px;
}

#container-search{
    position: relative;
    width: 550px;
    margin: 0 auto;
}

#lupa {
    right: 0;
    width: 15px;
    display: block;
    position: absolute;
    top: 87%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 850px;
    margin: 100px auto;
}



.divisor {
    display: block;
    width: 100%;
    border: 0.5px solid #aae6a0;
}



.circle {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50px;
    margin-right: 5px;
}

.circle__green {
    background-color: #56cd42;
}
.circle__red{
    background-color: #cd4242;
}

.circle__gray {
    background-color: #bbbbbb;
}

.card_status {
    display: flex;
    align-items: center;
}

.color-green {
    color: #0f3013;
    font-weight: bold;
}

.color-black {
    color:  rgb(27, 27, 27);
    font-weight: bold;
}

.color-gray {
    color: #ffff;
    font-weight: bold;
}


#logo {
    width: 300px;
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
}

footer {
    height: 150px;
    background-color: #1f2821;
    text-align: center;
    
}

#pagination > div {
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
       
}

.btnContainer {
    width: 470px;
    display: flex;
    justify-content: center;
    
}

button {
    width: 85px;
    height: 30px;
    background-color: #118a44;
    color: white;
    border: none;
    border-radius: 2px;
    margin: 2px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 15%;
}

.btnPrev, .btnNext {
    width: 130px;
    background-color: #105718;
  
}

.btnPrev:hover, .btnNext:hover {
    background-color: #0e6d35;
}

button:hover{
    background-color: #105718 ;
}


#infoGerais {
    display: flex;
    justify-content: center;
    margin: 50px;
    color: #ffff;
  }
  
  #infoGerais p {
    margin: 0 15px; 
    
  }
  